* {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: American Typewriter, serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

body {
    background: url(../images/AdobeStock_289988906.jpeg) no-repeat center center fixed;
    background-size: cover;
}
header {
    text-align: center;
    font-size: 2vw;
    justify-content: space-evenly;
}
.intro {

    background-position: center;
    background-size:cover;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me-text img {
    height: 35%;
    width: 35%;
    position: relative;
    justify-content: flex-end;
    margin: 1% 5%;
}
.intro h2 {
    text-align: center;
    font-size: 2.5vw;
}
.intro div {
    display: flex;
    flex-wrap: wrap;
}
.about-me-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me-container {
    display: flex;
    justify-content: center;
}
.intro div p {
    text-align: center;
    font-size: 1.75vw;
    line-height: 1.6;
    margin: 2%;
}
div h2 {
    text-align: center;
    font-size: 2vw;
    display: block;
}
.projects-text {
    font-size: 1.5vw;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
}
.projects-img {
    position:relative;
    width: 80%;
    height: 80%;
    padding: 80px;
}
a:hover {
    color:blueviolet;
}
.projects-flex {
    display: flex;
    /* border: 2px solid red; */
}

#Contact-info-page {
    text-align: center;
    font-size: 1.75vw;
}
@media only screen and (max-width: 1248px) {
    * {
        flex-direction: column;
        justify-content: center;
    }
    .projects-img {
        padding: 0%;
        justify-content: center;
        display: block;
    }
    .projects-text {
        padding: 20px;
    }
}

@media only screen and (max-width: 375px) {

}