* {
    text-decoration: none;
}

header {
    color: teal;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.75vw;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.6vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.intro {
    background-color: black;
    color: #fff;
}